.anclas{
  text-decoration: none;
  color: white;
}

.imagenes-posts {
  border-radius: 30px;
  width: 200px;
  height: 250px;
  margin-bottom: 10px;
  object-fit: cover;
}
 
.box-comments{
  border-radius: 8px;
  width: 100%;
  height: 100px;
  margin: 0 17px 20px;
  background-color: #86CFED;
}

/* Perfil */
.avatar-profile {
  width: 120px;
  height: 120px;
  border-radius: 50%;  
  object-fit: cover;
  border-style: solid;
  border-width: 1px;
}
.container-profile {
  margin-bottom: 20px;
  border-width:0 0 1px;
  border-style: solid;
  border-color:#C6BFBF;
  margin-top:20px;
}

div.profile-gallery-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}



/* Login/Register */

.background {
    /* Aquí el origen de la imagen */
    background-image: url(/images/Fondo.png);
  
    /* Fijar la imagen de fondo este vertical y
      horizontalmente y centrado */
    background-position: center center;
  
    /* Esta imagen no debe de repetirse */
    background-repeat: no-repeat;
  
    /* COn esta regla fijamos la imagen en la pantalla. */
    background-attachment: fixed;
  
    /* La imagen ocupa el 100% y se reescala */
    background-size: cover;
  
    /* Damos un color de fondo mientras la imagen está cargando  */
    background-color: #464646;
  }
  
.login{
    background-color: white;
    position: absolute;
    text-align: center;
    width: 360px; 
    height: 380px;
    top: 50%;
    left: 50%;
    margin-left: -180px;
    margin-top: -200px;
    padding: 10px 10px 10px;
}

.intputs{
  width: 180px; 
  height: 30px;
  border-radius: 8px;
  font-size:large;
}

.register{
  background-color: white;
    position: absolute;
    text-align: center;
    width: 360px; 
    height: 580px;
    top: 50%;
    left: 50%;
    margin-left: -180px;
    margin-top: -300px;
    padding: 10px 10px 10px;
}

/* BARRA DE NAVEGACIÓN */
.bar-icons{
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-left: 2px;
}

/* Index */ 
#photo-card {
  border: 2px solid black;
  border-radius: 20px;
  background-color: #343F4B;
  text-align: center;
  padding: 0 15px;
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 500px;
  margin: auto;
  margin-bottom: 20px;
}

div.gallery-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.profile-icon{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  float: left;
  margin-bottom: -10px;
  object-fit: cover;
}

/* Post */
.formulario{
  display: inline-block;
  margin-left: 30px;
  font-size: 26px;
}

.button-form{
  width: 180px;
  height: 40px;
  border-radius: 3%;
  font-size: 25px;
}


